body {
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #000000;
	font-weight: bold;
	font-size: 200%;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

.navbar-default .navbar-toggle {
	border-color: #000000;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000000;
}

#header-nav {
	background-color: #999999;
	border: 2px solid black;
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
	background-color: #ffffff;
}

ul {
	border-top: 2px solid black;
}

li {
	font-size: 75%;
	color: #000000;
}

hr {
	margin: 0;
	border-color: #000000;
}

h1,h2 {
	font-weight: bold;
}

h1 {
	margin-bottom: 25px;
}

h2 {
	font-size: 150%;
}

section {
	background-color: #999999;
}